<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<style>
    .p-left {
      margin-left: 1em;
    }
    .p-h {
      margin-left: 1em;
      margin-right: 1em;
    }
    .row {
      display: -ms-flexbox;
      display: flex;
      /* -ms-flex-wrap: wrap;
      flex-wrap: wrap; */

    }
    .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .fullscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }

    /* .day {
        fill: none;
        pointer-events: all;
    }*/
    .day:hover { 
        fill: rgb(51, 146, 235);
    } 

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
      /* visibility: hidden; */
      width: 120px;
      font-size: small;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -60px;
    }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    #tooltipz {
      background: rgb(43, 43, 43);
      border: 1px solid black;
      border-radius: 3px;
      color: #fff;
      font-size: smaller;
      padding: 2px;
    }

    .stuff {
    opacity: 0.0;
	position:relative;
	top:-25px;
	left:30px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
  </style>


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
  </script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script src="/assets/js/mermaid/mermaid.min.js"></script>
<script src="/assets/js/github-calendar.min.js"></script>

<link
   rel="stylesheet"
   href="/assets/css/github-calendar-responsive.css"
/>

<!-- end custom head snippets -->
