<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<style>
    .p-left {
      margin-left: 1em;
    }
    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .col {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  </style>
<!-- end custom head snippets -->
